html {
	scrollbar-gutter: stable both-edges;
	background-color: #cccccc;
	background-image: url("images/back.gif");
}

body {
	font-family: helvetica, sans-serif;
	font-size: medium;
	/* padding-left: 15em; */
	text-align: justify;
	line-height: 1.4em;
}

img.banner {
	width: 88px;
	height: 31px;
}

img.about_exult_image {
	margin: 0.6em;
	width: 160px;
	height: 100px;
	border: 0;
}

img.certificate {
	margin: 0.6em;
	width: 245px;
	height: 321px;
	border: 0;
}

img.screenshot {
	margin: 0.6em;
	width: 160px;
	height: 100px;
	border: 0;
}

img.screenshot_zaurus {
	margin: 0.6em;
	border: 0;
}

img.ea_logo {
	margin: 0.6em;
	border: 0;
}

table.borderless {
	border-spacing: 0;
	border-width: 0;
}

table.borderless th,
table.borderless td {
	padding: 0;
}

table.link_table {
	border-spacing: 0;
	border-width: 0;
}

table.link_table th {
	padding: 2px;
}

table.link_table td {
	padding: 2px;
	vertical-align: top;
}

table.download_link {
	border-spacing: 3px;
	border-width: 0;
}

table.download_link th,
table.download_link td {
	padding: 1px;
}

table.key_table {
	border-spacing: 2px;
	border-width: 0;
}

table.key_table th {
	padding: 0;
}

table.key_table td {
	padding: 0;
	vertical-align: top;
	white-space: nowrap;
}

div.centered {
	display: block;
}

div.centered>* {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

table.centered {
	margin-left: auto;
	margin-right: auto;
}

th.left-aligned,
td.left-aligned {
	text-align: left;
}

th.left-aligned>*,
td.left-aligned>* {
	margin-left: 0;
	margin-right: auto;
}

th.centered,
td.centered {
	text-align: center;
}

th.centered>*,
td.centered>* {
	margin-left: auto;
	margin-right: auto;
}

th.right-aligned,
td.right-aligned {
	text-align: right;
}

th.right-aligned>*,
td.right-aligned>* {
	margin-left: auto;
	margin-right: 0;
}

table.site-width {
	width: 75%;
}

table.wide-table {
	width: 80%;
}

td.narrow-column {
	width: 20%;
}

td.narrower-column {
	width: 17%;
}

td.blank-column {
	width: 0.75em;
}

*.full-width {
	width: 100%;
}

td.valign-top {
	vertical-align: top;
}

/* Light theme */
body {
	color: #333366;
}

:link {
	color: #666699;
}

:visited {
	color: #669966;
}

:link:active :visited:active {
	color: #ffcc33;
}

span.highlight {
	color: maroon;
}

div.exult_logo {
	content: url("images/exult_logo_nice.svg");
	width: 181px;
	height: 127px;
}

tr.highlight {
	color: #62186f;
}

.non-selectable-comment {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (prefers-color-scheme: dark) {

	/* Dark theme */
	html {
		background-color: #1e2122;
		background-image: url("images/back-dk.gif");
	}

	body {
		color: #cec7c3;
	}

	:link {
		color: #6fa2ea;
	}

	:visited {
		color: #9c6fea;
	}

	:link:active :visited:active {
		color: #ffcc33;
	}

	div.exult_logo {
		content: url("images/exult_logo_nice_dark.svg");
		width: 181px;
		height: 127px;
	}

	span.highlight {
		color: #fa9797;
	}

	tr.highlight {
		color: #e1a5ec;
	}
}